-
    var team = [
        {
            name: "Mariam Guadalupe Moreno Farah",
            role: "President",
            github: "https://github.com/Mariam-Moreno",
            web_mail: "mailto:morenomariam13@gmail.com",
            linkedin: "https://www.linkedin.com/in/mariam-moreno-2b617a220",
            img: "Mariam-Moreno.webp"
        },
        {
           name: "Eyli Burguete Pech",
            role: "Vice-President",
            github: "https://github.com/EyliBurguete",
            web_mail: "mailto:eyliburguete@gmail.com",
            linkedin: "https://www.linkedin.com/in/eyli-burguete-7466a321a",
            img: "Eyli-Burguete.webp"
        },
        {
            name: "Luis Alejandro Cruz Inzunza",
            role: "Core Content",
            github: "https://github.com/Luis-Inzunza",
            web_mail: "mailto:cruzalejandro113@gmail.com",
            linkedin: "https://www.linkedin.com/in/luis-inzunzapro/",
            img: "Luis-Cruz.webp"
        },
        {
            name: "Daniel Eduardo Vallado Orozco",
            role: "Core Content",
            github: "https://github.com/DanielVallado",
            web_mail: "mailto:danielvalladoorozco@gmail.com",
            linkedin: "https://www.linkedin.com/in/daniel-vallado-92877a242/",
            img: "Daniel-Vallado.webp"
        }, 
        {
            name: "Gilmer Esau Poot Pisté",
            role: "Content",
            github: "https://github.com/Esau-Piste",
            web_mail: "mailto:esaupiste.ep29@gmail.com",
            img: "Esau-Poot.webp"
        },
        {
            name: "Juan Omar Trivellari Ramirez",
            role: "Core Content",
            github: "https://github.com/Juan-Trivellari",
            web_mail: "mailto:jtrivellari@hotmail.com",
            linkedin: "https://www.linkedin.com/in/juan-omar-trivella-riramirez-468b71241",
            img: "Juan-Trivellari.webp"
        },
        {
            name: "Pablo Gamboa Nieto",
            role: "Core Devs",
            github: "https://github.com/Pgamboan",
            web_mail: "mailto:pgamboan@hotmail.com",
            linkedin: "https://www.linkedin.com/in/pablo-gamboa-nieto-47291521a",
            img: "Pablo-Gamboa.webp"
        },
        {
            name: "Luis Miguel Medina Avila",
            role: "Core Devs",
            github: "https://github.com/LuisMiguelMedina",
            web_mail: "mailto:luis.mm91836@gmail.com",
            linkedin: "https://www.linkedin.com/in/luis-medina-avila-45559524a/",
            img: "Luis-Medina.webp"
        }
    ]

mixin card(member)
    .card
        img.card__image(src='assets/img/core/'+member.img, alt=member.name)
        .card__right
            p.card__name= member.name
            .card__description
                .card__role
                    .bi.bi-lightbulb
                    p= member.role
                .card__contact
                    if member.github
                        a.button.button--icon.bi.bi-github(href=member.github)
                    if member.web_mail
                        a.button.button--icon.bi.bi-globe(href=member.web_mail)
                    if member.linkedin
                        a.button.button--icon.bi.bi-linkedin(href=member.linkedin)

section.teamCore#teamCore
    .team__container
        h2.font-bold Team
            span.text-royalBlue  Core
            | 
        .team__list
            each member in team
                +card(member)
//-Cuando se tengan suficientes egresados (cambiado a core), se debe descomentar la seccion de abajo
//-#workshop-core-slider.splide
    .splide__track 
        ul.splide__list 
            li.splide__slide 
                .container
                    each member in team.slice(0, 4)
                        +card(member)
            li.splide__slide 
                .container
                    each member in team.slice(4, 8)
                        +card(member)