-
    var team = [
        {
            name: "Geovanna Fernanda De la cruz Medina",
            role: "Former Vice President",
            github: "https://github.com/Geovanna-med",
            web_mail: "mailto:geovanna.medina@outlook.com ",
            linkedin: "http://linkedin.com/in/geovanna-de-la-cruz-medina-5a69b51b8",
            img: "Geovanna Medina.webp"
        },
        {
            name: "Miguel Rodrigo Ávila Cabrera",
            role: "Mentor",
            github: "https://github.com/migueravila",
            web_mail: "https://avila.codes",
            linkedin: "https://www.linkedin.com/in/migueravila/",
            img: "Miguel R. Ávila.webp"
        },
        {
            name: "Isabel Cámara Montalvo",
            role: "Mentor",
            github: "https://github.com/isabel-eng",
            web_mail: "mailto:isabelmontalvo1993@gmail.com ",
            linkedin: "https://www.linkedin.com/in/isabel-c%C3%A1mara-montalvo/",
            img: "Isabel Cámara Montalvo.webp"
        },
        {
            name: "Jorge Reyes Treviño",
            role: "Mentor",
            web_mail: "mailto:erikaban14@gmail.com",
            img: "Jorge Reyes.webp"
        }, 
        {
            name: "Rodrigo Castrejon Cervantes",
            role: "Dev team",
            github: "https://github.com/rodrigo-cst",
            web_mail: "mailto:rodrigocastrejonc01@gmail.com",
            linkedin: "https://www.linkedin.com/in/rodrigo-castrej%C3%B3n-42900b204/",
            img: "Rodrigo Castrejón.webp"
        }
    ]

mixin card(member)
    .card
        img.card__image(src='assets/img/team/'+member.img, alt=member.name)
        .card__right
            p.card__name= member.name
            .card__description
                .card__role
                    .bi.bi-lightbulb
                    p= member.role
                .card__contact
                    if member.github
                        a.button.button--icon.bi.bi-github(href=member.github)
                    if member.web_mail
                        a.button.button--icon.bi.bi-globe(href=member.web_mail)
                    if member.linkedin
                        a.button.button--icon.bi.bi-linkedin(href=member.linkedin)

section.teamEgresados#teamEgresados
    .team__container
        h2.font-bold Nuestros 
            span.text-royalBlue Egresados
            | 
        .team__list
            each member in team
                +card(member)
//-Cuando se tengan suficientes egresados, se debe descomentar la seccion de abajo
//-#workshop-egresados-slider.splide
    .splide__track 
        ul.splide__list 
            li.splide__slide 
                .container
                    each member in team.slice(0, 4)
                        +card(member)
            li.splide__slide 
                .container
                    each member in team.slice(4, 8)
                        +card(member)