
-
    var team = [
        {
            name: "Verónica Marilyn Rivera Manzanero",
            role: "President",
            github: "https://github.com/ver0rivera",
            web_mail: "mailto:veronicarivera.mr@gmail.com",
            linkedin: "https://www.linkedin.com/in/ver%C3%B3nica-marilyn-rivera-manzanero-964064208/",
            img: "Verónica Rivera.webp"
        },
        {
            name: "Geovanna Fernanda De la cruz Medina",
            role: "Vice President",
            github: "https://github.com/Geovanna-med",
            web_mail: "mailto:geovanna.medina@outlook.com ",
            linkedin: "http://linkedin.com/in/geovanna-de-la-cruz-medina-5a69b51b8",
            img: "Geovanna Medina.webp"
        },
        {
            name: "Manuel Antonio Cituk Martínez",
            role: "Dev Leader",
            github: "https://github.com/Antonio-Cituk",
            web_mail: "https://tony-cituk.web.app/",
            linkedin: "https://www.linkedin.com/in/antonio-cituk-775b12209/",
            img: "Antonio Cituk.webp"
        },
        {
            name: "Miguel Rodrigo Ávila Cabrera",
            role: "Mentor",
            github: "https://github.com/migueravila",
            web_mail: "https://avila.codes",
            linkedin: "https://www.linkedin.com/in/migueravila/",
            img: "Miguel R. Ávila.webp"
        },
        {
            name: "Isabel Cámara Montalvo",
            role: "Mentor",
            github: "https://github.com/isabel-eng",
            web_mail: "mailto:isabelmontalvo1993@gmail.com ",
            linkedin: "https://www.linkedin.com/in/isabel-c%C3%A1mara-montalvo/",
            img: "Isabel Cámara Montalvo.webp"
        },
        {
            name: "Jorge Reyes Treviño",
            role: "Content team",
            web_mail: "mailto:erikaban14@gmail.com",
            img: "Jorge Reyes.webp"
        }, 
        {
            name: "Edwin Alonso Andrade Ac",
            role: "Mentor",
            github: "https://github.com/imreyesjorge",
            web_mail: "mailto:reyestrevjorge@gmail.com",
            linkedin: "https://www.linkedin.com/in/imreyesjorge/",
            img: "Edwin Andrade.webp"
        },  
        {
            name: "Isaac Mauricio Ehuan Avila",
            role: "Events team",
            github: "https://github.com/IsaacEhuan",
            web_mail: "mailto:a17000553@alumnos.uady.mx",
            linkedin: "https://www.linkedin.com/in/isaac-m-ehuan-a-a71516201/",
            img: "Isaac M. Ehuan A.webp"
        },
        {
            name: "Daniel Pliego Vega",
            role: "Events team",
            github: "https://github.com/Daniel-Pliego",
            web_mail: "mailto:danielpliegov@gmail.com",
            linkedin: "https://www.linkedin.com/in/daniel-pliego-b3633b1b8",
            img: "Daniel pliego.webp"
        },
        {
            name: "Fátima Lizzet García Echeverría",
            role: "Events team",
            web_mail: "mailto:lizzet115@gmail.com",
            img: "WhatsApp Image 2021-08-17 at 2.44.45 PM - Lizzet García.webp"
        },
        {
            name: "Carlos Fernando Sánchez Chuc",
            role: "Events team",
            github: "https://github.com/Charly-Sz18",
            web_mail: "mailto:carlosfsanchezchuc@gmail.com",
            img: "20210909_125652 - carlos fernando sanchez.webp"
        },
        {
            name: "Luis Jesus May Rodriguez",
            role: "Events team",
            linkedin: "https://www.linkedin.com/in/luis-may-297959200/",
            web_mail: "mailto:luisjesusmayrodriguez73@gmail.com",
            img: "Luis foto - Luis May.webp"
        },
        {
            name: "Luis Alberto Zapata Braga",
            role: "Events team",
            github: "https://github.com/Lichos17",
            web_mail: "https://hopeful-lalande-661f25.netlify.app/",
            linkedin: "https://www.linkedin.com/in/lichosmx/",
            img: "Lichos Zapata.webp"
        },
        {
            name: "Emiliano Valencia Guzmán",
            role: "Events team",
            github: "https://github.com/Greatvali",
            web_mail: "mailto:evalencia142000@gmail.com",
            linkedin: "https://linkedin.com/in/emiliano-valencia-7b2332134",
            img: "Emiliano - Emiliano Valencia.webp"
        },
        {
            name: "Merly Guadalupe Jiménez",
            role: "Events team",
            web_mail: "mailto:menajimenez2206@gmail.com",
            linkedin: "https://www.linkedin.com/in/reynaldo-alexander-couoh-martin-5ba1a3220",
            img: "IMG_20210905_114546 - Mena Jiménez.webp"
        },
        {
            name: "Jorge Teodoro Dawn Rodriguez",
            role: "Dev team",
            github: "https://github.com/Teodoro-lab",
            web_mail: "mailto:teodawn.td@gmail.com",
            linkedin: "https://www.linkedin.com/in/jorge-teodoro-dawn-rodriguez-b99aa71ab",
            img: "Jorge Teo Dawn.webp"
        },
        {
            name: "Fernan Enrique Cetina Escalante",
            role: "Dev team",
            github: "https://github.com/FernanCetinaE",
            web_mail: "mailto:fecefarique@gmail.com",
            img: "FariqueFece.webp"
        },
	    {
            name: "Rodrigo Castrejon Cervantes",
            role: "Dev team",
            github: "https://github.com/rodrigo-cst",
            web_mail: "mailto:rodrigocastrejonc01@gmail.com",
            linkedin: "https://www.linkedin.com/in/rodrigo-castrej%C3%B3n-42900b204/",
            img: "Rodrigo Castrejón.webp"
        },
	    {
            name: "Nimbe Guadalupe Escamilla Vallejo",
            role: "Dev team",
            web_mail: "mailto:nimbe.escamilla@gmail.com",
            linkedin: "www.linkedin.com/in/nimbe-escamilla",
            img: "IMG_20210122_181556 - Nimbe Escamilla Vallejo.webp"
        },
        {
            name: "Valeria Ysabel González Meneses",
            role: "Dev team",
            github: "https://github.com/valeegms",
            web_mail: "mailto:valeysa30@hotmail.com",
            linkedin: "https://www.linkedin.com/in/valeria-gonz%C3%A1lez-meneses-2a1634199",
            img: "43976FF4-43A2-4406-A13C-B1C31281F380 - Vale González.webp"
        },
	    {
            name: "Pablo Gamboa Nieto",
            role: "Dev team",
            github: "https://github.com/Pgamboan",
            web_mail: "mailto:Pgamboan@hotmail.com",
            linkedin: "https://www.linkedin.com/in/pablo-gamboa-nieto-47291521a",
            img: "EB6C3DBB-28D0-4096-BF4A-93C1487FF652 - Pablo Gamboa Nieto.webp"
        },
        {
            name: "Paola Andrea Panozo Villarroel",
            role: "Content team",
            web_mail: "mailto:andreapanozo70@gmail.com",
            img: "foto - Paola Panozo.webp"
        },
        {
            name: "Mariam Guadalupe Moreno Farah",
            role: "Content team",
            web_mail: "mailto:morenomariam13@gmail.com",
            img: "Mariam Moreno Farah - Mariam Moreno.webp"
        },
        {
            name: "Eyli Burguete Pech",
            role: "Content team",
            github: "https://github.com/EyliBurguete",
            web_mail: "mailto:eyliburguete@gmail.com",
            img: "FB_IMG_1631148950864 - Eyli Burguete.webp"
        },
        {
            name: "Reynaldo Alexander Couoh Martin",
            role: "Content team",
            github: "https://github.com/ReynaldoCoMa",
            web_mail: "mailto:reynaldomartin57@gmail.com",
            linkedin: "https://www.linkedin.com/in/reynaldo-alexander-couoh-martin-5ba1a3220",
            img: "IMG_20210816_103009-2 - Couoh Martin Reynaldo Alexander.webp"
        },
        {
            name: "Itzel Jazmin Sanchez Gómez",
            role: "Content team",
            github: "https://github.com/jazminsg",
            web_mail: "mailto:jskalholt@gmail.com",
            img: "B612_20200906_143209_578 - jazmin sanchez.webp"
        },
        {
            name: "Esteban Alfonso Pacheco Serralta",
            role: "Content team",
            github: "https://github.com/Este538",
            web_mail: "mailto:alleniverson33345@gmail.com",
            linkedin: "https://linkedin.com/in/esteban-pacheco-serralta-5019b41b8",
            img: "Profile_Esteban_Pacheco - Pacheco Serralta Esteban Alfonso.webp"
        },
        {
            name: "David Muñoz Peña",
            role: "Content team",
            github: "https://github.com/DavidMunoz25",
            web_mail: "mailto:davidmunozpena25@gmail.com",
            linkedin: "https://www.linkedin.com/in/david-munoz-556093220/",
            img: "20210910_180423 - David Munoz.webp"
        },
        {
            name: "Erik Humberto Aban Pech",
            role: "Content team",
            web_mail: "mailto:erikaban14@gmail.com",
            img: "PXL_20210910_201300309.PORTRAIT - Zerik 209.webp"
        } 
    ]

mixin card(member)
    .card
        img.card__image(src='assets/img/team/'+member.img, alt=member.name)
        .card__right
            p.card__name= member.name
            .card__description
                .card__role
                    .bi.bi-lightbulb
                    p= member.role
                .card__contact
                    if member.github
                        a.button.button--icon.bi.bi-github(href=member.github)
                    if member.web_mail
                        a.button.button--icon.bi.bi-globe(href=member.web_mail)
                    if member.linkedin
                        a.button.button--icon.bi.bi-linkedin(href=member.linkedin)

section#team
    .team__container
        h2.font-bold Nuestro 
            span.text-wildWatermelon Equipo
            | .
        .team__list
            each member in team
                +card(member)
#workshop-team-slider.splide
    .splide__track 
        ul.splide__list 
            li.splide__slide 
                .container
                    each member in team.slice(0, 4)
                        +card(member)
            li.splide__slide 
                .container
                    each member in team.slice(4, 8)
                        +card(member)
            li.splide__slide 
                .container
                    each member in team.slice(8, 12)
                        +card(member)
            li.splide__slide 
                .container
                    each member in team.slice(12, 16)
                        +card(member)
            li.splide__slide
                .container
                    each member in team.slice(16, 20)
                        +card(member)
            li.splide__slide
                .container
                    each member in team.slice(20, 24)
                        +card(member)
            li.splide__slide
                .container
                    each member in team.slice(24, 28)
                        +card(member)
            li.splide__slide
                .container
                    each member in team.slice(28, 32)
                        +card(member)
                        