- 
    var team = [
        {
            name: "Manuel Antonio Cituk Martínez",
            role: "member lol",
            github: "https://es.wikipedia.org/wiki/A",
            web_mail: "mailto:tonycituk@gmail.com",
            linkedin: "https://www.linkedin.com/in/antonio-cituk-775b12209",
            img: "sphynx.png"
        },
        {
            name: "Jorge Teodoro Dawn Rodriguez",
            role: "member lol",
            img: "Sally-22.png"
        },
        {
            name: "Miguel Rodrigo Ávila Cabrera",
            role: "member lol"
        },
        {
            name: "Edwin Alonso Andrade Ac",
            role: "member lol"
        },
        {
            name: "Geovanna Fernanda De la cruz Medina",
            role: "member lol"
        },
        {
            name: "Verónica Marilyn Rivera Manzanero",
            role: "member lol"
        },
        {
            name: "Fernan Enrique Cetina Escalante",
            role: "member lol"
        },
        {
            name: "Mario Jesús Chan Zurita",
            role: "member lol"
        },
        {
            name: "Isaac Mauricio Ehuan Avila",
            role: "member lol"
        },
        {
            name: "Daniel Pliego Vega",
            role: "member lol"
        },
        {
            name: "Rodrigo Castrejon Cervantes",
            role: "member lol"
        }]


mixin card(member)
    .card
        img.card__image(src='assets/img/team/'+member.img, alt=member.name)
        .card__right
            p.card__name= member.name
            .card__description
                .card__role
                    .bi.bi-lightbulb
                    p= member.role
                .card__contact
                    if member.github
                        a.button.button--icon.bi.bi-github(href=member.github)
                    if member.web_mail
                        a.button.button--icon.bi.bi-globe(href=member.web_mail)
                    if member.linkedin
                        a.button.button--icon.bi.bi-linkedin(href=member.linkedin)

section#team
    .team__container
        h2.font-bold Nuestro 
            span.text-wildWatermelon Equipo
            | .
        .team__list
            each member in team
                +card(member)
#workshop-team-slider.splide
    .splide__track 
        ul.splide__list 
            li.splide__slide 
                .container
                    each member in team.slice(0, 4)
                        +card(member)
            li.splide__slide 
                .container
                    each member in team.slice(4, 8)
                        +card(member)
            li.splide__slide 
                .container
                    each member in team.slice(8, 12)
                        +card(member)